**PRINT FUNCTION**

print "Hello world!" on the monitor

**COMMENTS**

In [ ]:
# COMMENTS:
# A comment in a computer program is text that is intended only for the human reader
# - it is completely ignored by the interpreter.

**TYPE FUNCTION:**
It is frequently necessary to check to see what type of data a variable is. To identify this, you can use the built-in function type in Python.

In [ ]:
type("this is a string...")

In [ ]:
type(3)

int

**VARIABLES:**

In [ ]:
author = "William Mattingly"

Print the author name

Print: Hello, William Mattingly!

**STRINGS:**

In [ ]:
a = "this is a string"
b = "this is also a string"

# What does c = a+b do?
# What is the type of c?

this is a stringthis is also a string

str

In [ ]:
name = "Harry"
# 1. Print the length of name.
# Hint: len(x) gives the length of x

# 2. Print each character of name

Harry has length 5

**EXERCISE**

In [ ]:
# Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.
# - - - - - - - - - - - - - - -
# INPUT
# Two strings, the name and the surname of a user respectively.
# Hint: you can read user input by : input("Enter your name: ")
# - - - - - - - - - - - - - - -
# OUTPUT
# A string resulting from the concatenation of surname and name (with a space between them).
# - - - - - - - - - - - - - - -
# EXAMPLE
# Given as inputs the string "Martina" (name) and the string "Olliaro" (surname), the program should return the string: "Olliaro Martina"

In [ ]:
# Write a Python program to get a string from a given string where all occurrences
# of its first character have been changed to '$', except the first char itself.
# - - - - - - - - - - - - - - -
# EXAMPLE
# Given the string "mamma", the program returns the string: "ma$$a".
# Hint: replace() function

word = input("Enter a word: ")

# ...

In [ ]:
# - - - - - - - - - - - - - - -
# EXAMPLE
# Given as inputs the string "Hello" and the string "World!", the program returns the string: "Wollo Herld!"

In [10]:
# Write a Python program to find the first appearance of the
# substring 'not' and 'poor' from a given string (You can try input the following string: 'He is not poor' and "He is poor").
# If 'not' precedes the 'poor', replace the whole 'not'...'poor'
# substring with 'good'.

Enter a string: he is not poor
he is good

**LISTS**

In [ ]:
#Common error: Out of Range
values = [2, 12, 30, 27]
print(values[0])

In [ ]:
values = [2, 12, 30, 27]
print(values)

In [ ]:
#Operations on lists:
names = [ ]
names.append("Martina")
print(names)
names.append("Eleonora")
print(names)

['Martina']
['Martina', 'Eleonora']

In [ ]:
#Find an element:
names = ["Martina", "Andrea", "Eleonora"]
if "Martina" in names :
  print("The name Martina is present.")

The name Martina is present.

In [ ]:
# Concatenate two lists below into newlist and print the concatenated list
names1 = ["Martina", "Andrea", "Eleonora"]
names2 = ["Marco", "Gianluca", "Diletta"]

In [ ]:
#Sum, find maximum and minimum of data below
numbers = [10, 6, 1]
names = ["Martina", "Andrea", "Eleonora"]

In [13]:
#CREDITS: Alfio Ferrara
# !wget: used to download files directly from a URL to your Colab environment.

!wget https://raw.githubusercontent.com/umilISLab/midh/main/data/parole_italiane.txt

infile = open('parole_italiane.txt', 'r')
content = infile.read()
words = content.split('\n')

len(words)

--2024-10-03 13:59:53--  https://raw.githubusercontent.com/umilISLab/midh/main/data/parole_italiane.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 53119 (52K) [text/plain]
Saving to: ‘parole_italiane.txt.3’

parole_italiane.txt 100%[===================>]  51.87K  --.-KB/s    in 0.008s

2024-10-03 13:59:53 (6.37 MB/s) - ‘parole_italiane.txt.3’ saved [53119/53119]

5001

In [15]:

# 1. print the type of the list
# 2. print last word of the list
# 3. print the length of the list
# 4. delete the last word from the words list and repeat 1 to 3.

4999

**NUMBERS**

In [ ]:
a = "8"
b = 4
c = b + a

In [ ]:
a, b = 5, 6

In [ ]:
# EXERCISE:
# Write a Python program which accepts the radius of a circle from the user and compute the area.

from math import pi

radius = float(input("Enter the radius of the circle: "))

Enter the radius of the circle: 50
The area of the circle with radius  50.0  is:  7853.981633974483

In [ ]:
# Write a Python program to check whether the last digit of a number
# (entered by user) is divisible by 3 or not.

# Assumption: only integers can be taken as input
num = int(input("Enter an integer number: "))

# Computes the last digit of a number
# Any number % 10 will return the last digit
lastDigit = num % 10

**LOOPS**

In [ ]:
x = 0
while x < 10:
    print(x)
    x += 1
print('fine')

In [ ]:
s = 0
for x in words:
    c = len(x)
    s += c
print(s / len(words))

**ELIF STRUCTURE**

In [ ]:
x = 0
if x > 0:
    print('Positive number')
elif x == 0:
    print('Zero')
else:
    print('Negative number')

**DICTIONARIES**

In [ ]:

# check if Martina is in the list and then print the phone number of Martina from the list:
contacts = {"Martina": 329, "Eleonora": 427, "Andrea": 782}

The phone number of Martina is 329

In [ ]:
# Add Marco = 563 to the list and print the list

{'Martina': 329, 'Eleonora': 427, 'Andrea': 782, 'Marco': 563}